<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <title>Document</title>


       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
     <link rel="stylesheet" href="css/list/main.css">
        <link rel="stylesheet" href="css/list/style.css">





    
</head>
<body>


<cfset asd='asd'>

<cfquery name="show_student" datasource="#asd#">
    SELECT * from Students
    </cfquery>

    <cfquery name="select_name" datasource="#asd#">
    SELECT * from Students where StudentID=#URL.name_value# 
   
    </cfquery>


 
   
<nav>
        <div id="logo-box">
            <a style="text-decoration:none;" href="/" class="logo text-uppercase">
                    Öğrenci Kayıt
             </a>
        </div>
    </nav>


   



 <div id="container">
  
   <div id="top">

    <div class="search">
 
   <select id="username_value" class="text" name="d_p_name" required="">

                         <cfoutput query="show_student">
                                                <option value="#StudentID#">#StudentName#</option>
                        </cfoutput>
                                                <option value="" selected>Silmek istediğiniz öğrenciyi seçiniz</option> 

                                              </select>

		
</div>




      <div class="add-div">
             <a href="http://127.0.0.1:8500/Student/index.cfm">
          <button style="background-color: orange;" id="add_btn" class="btn" value="#Id#">Ekle</button>
         </a>
        </div>  
       
   </div>

   <cfoutput query="select_name">
     <div id="title">
        <div class="title-i"><p>#StudentName#</p></div>
        <div class="title-i"><p>#StudentSurname#</p></div>
        <div class="title-itemss"><p>#GSMCCode# + #PhoneNumber#</p></div>
        <div class="title-maill"><p>#Email#</p></div>
        

        <div class="selectt">
        <a href="http://127.0.0.1:8500/Student/view_student.cfm?student_id=#StudentID#" target="_blank">
          <button style="background-color: burlywood;" id="view_btn" class="btn" >Gör</button>
         </a>
        </div>
        <div class="selectt">
        <a href="http://127.0.0.1:8500/Student/update_student.cfm?student_id=#StudentID#" target="_blank">
          <button  id="update_btn" class="btn guncolor">Gün</button>
         </a>
        
        </div>
        <div class="selectt">
             <a href="http://127.0.0.1:8500/Student/query/delete.cfm?student_id=#StudentID#" target="_blank">
          <button id="delete_btn" class="btn red">Sil</button>
         </a>
        </div>
    </div> 

    </cfoutput>

    
    <div id="title">
        <div class="title-item">Ad</div>
        <div class="title-item">Soyad</div>
        <div class="title-items">Telefon</div>
        <div class="title-mail">E-Mail</div>
        <div class="select"><i class="fas fa-eye w-i"></i></div>
        <div class="select"><i class="fas fa-user-edit w-i"></i></div>
        <div class="select"><i class="fas fa-user-times w-i"></i></div>
    </div> 
    

      <cfoutput query="show_student">
     <div id="title">
        <div class="title-i"><p>#StudentName#</p></div>
        <div class="title-i"><p>#StudentSurname#</p></div>
        <div class="title-itemss"><p>#GSMCCode# + #PhoneNumber#</p></div>
        <div class="title-maill"><p>#Email#</p></div>
        


        <div class="selectt">
        <a href="http://127.0.0.1:8500/Student/view_student.cfm?student_id=#StudentID#" target="_blank">
          <button style="background-color: burlywood;" id="view_btn" class="btn" >Gör</button>
         </a>
        </div>
        <div class="selectt">
        <a href="http://127.0.0.1:8500/Student/update_student.cfm?student_id=#StudentID#" target="_blank">
          <button  id="update_btn" class="btn guncolor">Gün</button>
         </a>
        
        </div>
        <div class="selectt">
             <a href="http://127.0.0.1:8500/Student/query/delete.cfm?student_id=#StudentID#" target="_blank">
          <button id="delete_btn" class="btn red">Sil</button>
         </a>
        </div>
    </div> 

    </cfoutput>

    

    <footer>
        <div id="after-Rooms">
        
     <div class="footer-item">
        <a href="http://127.0.0.1:8500/Student/student_list.cfm" class="f-btn primary-outline">
		   <i class="fas fa-home"></i> <p class="menutxt">Anasayfa</p>
	    </a>
    </div>

     <div  class="footer-item">
        <a href="http://127.0.0.1:8500/Student/index.cfm" class="f-btn primary-outline">
		   <i class="fas fa-user-plus"></i> <p class="menutxt">Ekle</p>
	    </a>
    </div>

     <div class="footer-item">
        <a href="http://127.0.0.1:8500/Student/student_list.cfm" class="f-btn primary-outline">
		   <i class="fas fa-user-times"></i> <p class="menutxt">Sil</p>
	    </a>
    </div>

     <div class="footer-item">
        <a href="http://127.0.0.1:8500/Student/student_list.cfm" class="f-btn primary-outline">
		   <i class="fas fa-user-edit"></i> <p class="menutxt">Güncelle</p>
	    </a>
    </div>
       
        </div>


    </footer>

</div>




 <script
  src="https://code.jquery.com/jquery-3.4.1.slim.js"
  integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
  crossorigin="anonymous"></script>

<script>
$(document).ready(function(){

$("#username_value").change(function(){
    var user_value =($(this).val());
    console.log(user_value);
window.location.href = 'http://127.0.0.1:8500/Student/name_search.cfm?name_value='+user_value;})  
})
  </script>

    
</body>
</html>