body {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    margin-bottom: 4.3rem;
    margin-top: 5rem;
}

.menutxt {
    text-align: center;
}

footer {
    width: 100%;
    height: 4rem;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.footer-item {
    width: 25%;
    height: 100%;
    float: left;
    height: 100%;
}

.primary-outline:hover {
    background-color: lightgray;
    color: #007bff;
    padding: .5rem .2rem;
    text-decoration: none;
}

.primary-outline {
    background-color: darkgray;
    color: #007bff;
    padding: .6rem .2rem;
}

#after-Rooms {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

#after-Rooms i {
    float: left;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
}

.f-btn {
    border: none;
    text-decoration: none;
    font-size: 1.3rem;
    display: inline-block;
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    height: 4rem;
    background-color: gray;
    margin: 0 auto;
    z-index: 1;
}

#logo-box .logo {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

#logo-box {
    width: 100%;
    height: 100%;
    margin: auto;
}