 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 
 html {
     font-size: 20px;
 }
 
 #title {
     width: 100%;
 }
 
 .title-items {
     width: 15%;
     height: 1.5rem;
     display: inline-block;
     float: left;
     border: 1px solid black;
     background-color: lightgray;
 }
 
 .w-i {
     width: 100%;
     text-align: center;
 }
 
 .title-item {
     width: 15%;
     height: 1.5rem;
     display: inline-block;
     float: left;
     border: 1px solid black;
     background-color: lightgray;
 }
 
 .title-mail {
     width: 25%;
     height: 1.5rem;
     display: inline-block;
     float: left;
     border: 1px solid black;
     background-color: lightgray;
 }
 
 .title-itemss {
     width: 15%;
     height: 1.5rem;
     display: inline-block;
     float: left;
     border-left: 1px solid black;
     border-bottom: 1px solid black;
     border-right: 1px solid black;
 }
 
 .title-i {
     width: 15%;
     height: 1.5rem;
     display: inline-block;
     float: left;
     border-left: 1px solid black;
     border-bottom: 1px solid black;
     border-right: 1px solid black;
 }
 
 .title-maill {
     width: 25%;
     height: 1.5rem;
     display: inline-block;
     float: left;
     border-left: 1px solid black;
     border-bottom: 1px solid black;
     border-right: 1px solid black;
 }
 
 .select {
     width: 10%;
     height: 1.5rem;
     display: inline-block;
     float: left;
     border: 1px solid black;
     background-color: lightgray;
 }
 
 .selectt {
     width: 10%;
     height: 1.5rem;
     display: inline-block;
     float: left;
     border-left: 1px solid black;
     border-bottom: 1px solid black;
     border-right: 1px solid black;
 }
 
 .btn {
     width: 100%;
     height: 100%;
     border: none;
 }
 
 .guncolor {
     background-color: #80b9f9;
 }
 
 .red {
     background-color: #f77a55;
 }
 
 .add-div {
     width: 30%;
     height: 100%;
     border: 1px solid black;
     float: right;
 }
 
 #top {
     width: 100%;
     height: 1.5rem;
 }
 
 #username_value {
     width: 100%;
     height: 100%;
 }
 
 .search {
     width: 70%;
     height: 100%;
     background-color: aquamarine;
     float: left;
 }
 
 #name_search {
     width: 100%;
     height: 100%;
 }
 
 #surname_search {
     width: 100%;
     height: 100%;
 }
 
 #container {
     margin-top: 2.4rem;
     margin-bottom: 3.6rem;
 }
 
 .menutxt {
     text-align: center;
 }
 
 footer {
     width: 100%;
     height: 3.3rem;
     margin: 0 auto;
     position: fixed;
     bottom: 0;
     z-index: 1;
 }
 
 .footer-item {
     width: 25%;
     height: 100%;
     float: left;
     height: 100%;
 }
 
 .primary-outline:hover {
     background-color: lightgray;
     color: #007bff;
     padding: .5rem .2rem;
     text-decoration: none;
 }
 
 .primary-outline {
     background-color: darkgray;
     color: #007bff;
     padding: .6rem .2rem;
 }
 
 #after-Rooms {
     width: 100%;
     height: 100%;
     margin-bottom: 0;
 }
 
 #after-Rooms i {
     float: left;
     width: 100%;
     font-size: 1rem;
     text-align: center;
 }
 
 .f-btn {
     border: none;
     text-decoration: none;
     font-size: 1rem;
     display: inline-block;
     width: 100%;
     height: 100%;
 }
 
 nav {
     width: 100%;
     position: fixed;
     top: 0;
     height: 2.4rem;
     background-color: gray;
     margin: 0 auto;
     z-index: 1;
 }
 
 #logo-box .logo {
     width: 100%;
     height: 100%;
     display: block;
     color: #fff;
     font-weight: 700;
     font-size: 2rem;
     text-align: center;
 }
 
 #logo-box {
     width: 100%;
     height: 100%;
     margin: auto;
 }
 
 @media screen and (max-width:800px) {
     .title-item {
         width: 35%;
     }
     .title-i {
         width: 35%;
     }
     .search {
         width: 70%;
     }
     .title-itemss {
         width: 0%;
         border: none;
     }
     .title-items {
         width: 0%;
         border: none;
     }
     .title-mail {
         width: 0%;
         border: none;
     }
     .title-maill {
         width: 0%;
         border: none;
     }
     .title-itemss p {
         display: none;
     }
     .title-maill p {
         display: none;
     }
     #username_value {
         width: 100%;
     }
 }