<cfset asd='asd'>

<cfquery name="mail_control" datasource="#asd#">
    SELECT Email from Students where Email= '#form.email#'
    </cfquery>

<cfquery name="phone_control" datasource="#asd#">
    SELECT PhoneNumber, EmergencyContact_PhoneNumber from Students where PhoneNumber = #form.phone#
    </cfquery>

    

<cfif mail_control.recordCount>
<script type="text/javascript">
alert("Bu E-Mail Kullanılmaktadır");
history.back();
</script>

        

<cfelseif phone_control.recordCount>
<script type="text/javascript">
alert("Bu Telefon Numarası Kullanılmaktadır");
history.back();
</script>



   


<cfelse>
<cfquery name="addStudent" datasource="#asd#">
                INSERT INTO Students (
                    StudentName,
                    StudentSurname, 
                    GSMCCode,
                    PhoneNumber,
                    Birthdate,
                    BirthCityId,
                    Email,
                    HomeAddress,
                    Photo,
                    BloodGroupID,
                    EmergencyContact_NameSurname,
                    EmergencyContact_GSMCCodeId,
                    EmergencyContact_PhoneNumber,
                    EmergencyContact_Email


			 )
		    
                VALUES
                (
                
                '#form.s_name#',
                '#form.s_surname#',
                '#form.gsm_code#',                
                '#form.phone#',
                '#form.birthdate#',
                '#form.city#',
                '#form.email#',                
                '#form.adress#',
                '#form.photopath#',
                '#form.blood#',
                '#form.contact_name_surname#',
                '#form.contact_gsm_code#',                
                '#form.contact_phone#',
                '#form.contact_mail#'


		
                  )
    </cfquery>

<cfset Photo="">
<cffile action="upload" filefield="photopath" destination="#expandPath('images/')#" nameconflict="makeunique">
<cfoutput>
File Uploaded! #cffile.ClientFile#
</cfoutput> 
<cfset Photo = createUUID() & "." & cffile.serverFileExt>

<cffile 
action="rename" 
source="#expandPath('./images/#cffile.serverFileName#.#cffile.serverFileExt#')#" 
destination="#expandPath('./images/#Photo#.#cffile.serverFileExt#')#"
/>

<script type="text/javascript">
alert("Kaydedildi");
location.href='http://127.0.0.1:8500/Datatable/index.cfm';

</script>
   </cfif>

 

 