<cfset asd='asd'>



<cfquery name="deleteStudent" datasource="#asd#">

DELETE FROM students 
WHERE StudentID=#URL.student_id# ;

</cfquery>

<cflocation url = "http://127.0.0.1:8500/Datatable/student_list.cfm">