<cfset asd='asd'>



<cfquery name="mail_control" datasource="#asd#">
    SELECT Email from Students where StudentID <> #URL.student_id# AND Email= '#form.email#'
    </cfquery>

<cfquery name="phone_control" datasource="#asd#">
    SELECT PhoneNumber, EmergencyContact_PhoneNumber from Students where StudentID <> #URL.student_id# AND PhoneNumber = #form.phone#
    </cfquery>





    

<cfif mail_control.recordCount>
<script type="text/javascript">
alert("Bu E-Mail Kullanılmaktadır");
history.back();
</script>

        

<cfelseif phone_control.recordCount>
<script type="text/javascript">
alert("Bu Telefon Numarası Kullanılmaktadır");
history.back();
</script>



   


<cfelse>


<cfquery name="updateStudent" datasource="#asd#">
UPDATE Students
SET 
StudentName = '#form.s_name#', 
StudentSurname = '#form.s_surname#',
GSMCCode = '#form.gsm_code#', 
PhoneNumber = '#form.phone#',
Birthdate = '#form.birthdate#', 
BirthCityId = '#form.city#',
Email = '#form.email#',
HomeAddress = '#form.adress#',
BloodGroupID = '#form.blood#', 
EmergencyContact_NameSurname = '#form.contact_name_surname#',
EmergencyContact_GSMCCode = '#form.contact_gsm_code#',
EmergencyContact_PhoneNumber = '#form.contact_phone#',
EmergencyContact_Email = '#form.contact_mail#'
WHERE StudentID=#URL.student_id# ;

</cfquery>
   




              <script type="text/javascript">
alert("Güncellendi");
window.location.href='http://127.0.0.1:8500/Datatable/student_list.cfm';
</script>
                
      </cfif>                          
              
                
                
                                
                
                
                
                
                                
                
                
                    